<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vitsigeneraattori</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class="container">
            <h1>Vitsigeneraattori</h1>
            <p id="setup"></p>
            <p id="punchline" style="display: none;"></p>  <!-- Punchline piilotettu -->
            <button onclick="fetchJoke()">Hae vitsi</button>
            <button id="reveal-btn" onclick="revealPunchline()" style="display: none;">Näytä punchline</button>
        </div>

        <script>
            function fetchJoke() {
                fetch('/get-joke')
                    .then(res => res.json())
                    .then(data => {
                        document.getElementById('setup').innerText = data.setup;
                        document.getElementById('punchline').innerText = data.punchline;
                        document.getElementById('punchline').style.display = "none" // Varmistetaan että punchline piilossa
                        document.getElementById('reveal-btn').style.display = "block" // Näytetään nappi
                    })
                    .catch(err => console.error('Virhe', err))
            }

            function revealPunchline() {
                document.getElementById('punchline').style.display = "block" // Näytetään punchline
                document.getElementById('reveal-btn').style.display = "none" // Piilotetaan nappi
            }
        </script>
    </body>
</html>